.post-details-container > div {
    display : flex;
    padding-top: 15px;
    color : rgb(169, 169, 169);
}
.post-details-container > div > p {
    flex : 1;
}
.post-published-time{
    text-align: right;
}
.article-image-container > div {
    padding : 20px 0px;
}
.article-image-container > div > img {
    width : 100%;
}
.photo-credits {
    padding: 10px 0px;
    color : rgb(169, 169, 169);
}
.article-text-block ,.subheading-container {
    padding : 10px 0px;
}
.article-text-block p{
    color: #86979a;
    font-size: 95%;
    line-height: 30px;
}
.subheading-container p {
    font-size: 150%;
    font-weight: 600;
}
.section-title-style{
    font-size : 200%;
    font-weight: 900;
}